body {
    background-color: #b398ff;
    min-height: 100vh;
    font-family: sans-serif;
}
#time {
    font-size: 7rem;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 3rem;
}
#clock {
    background-color: rgba(255, 255, 255, 0.3);
    width: 45%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#buttons {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10rem;
    padding: 1.5rem;
}

#buttons button {
    color: white;
    font-size: 2rem;
    border: none;
    background-color: #ffffff00;
    height: 25%;
}
#buttons button:hover {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    height: 25%;
}
#content {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
