body {
    background-color: #b398ff;
    font-family: sans-serif;
}
#timer {
    margin-top: 15%;
}
#time {
    font-size: 7rem;
    color: white;
    padding: 3rem;
}
#clock {
    background-color: rgba(255, 255, 255, 0.3);
}
#clock .row {
    margin-bottom: 0;
}
#buttons {
    color: white;
    display: flex;
    flex-direction: column;
    width: 10rem;
    padding: 1.5rem;
}
.btn-large {
    background-color: #b88cff !important;
    font-size: 1.1rem;
    z-index: 0;
}
.btn-large:hover {
    background-color: #bf97ff !important;
}
.trigger {
    left: 50%;
    transform: translate(-50%);
}

/* modal */
.btn-small {
    background-color: #bf97ff !important;
    margin: 4rem 1rem 2rem 1rem;
    z-index: 0;
}
.btn-small:hover {
    background-color: #c4a2fa !important;
}

/* tablets */
@media only screen and (max-width: 1025px) {
    #timer {
        margin-top: 45%;
    }
    #time {
        font-size: 5rem;
    }
}

/* mobile */
@media only screen and (max-width: 767px) {
    #timer {
        margin-top: 50%;
    }
    #time {
        font-size: 3rem;
    }
}
